<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Login - QR MACHINE</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='estilos.css') }}"
    />
  </head>

  <body>
    <h1>Login QR MACHINE</h1>

    <div class="main-box">
      <form method="POST">
        <input
          type="text"
          name="username"
          placeholder="Nombre de usuario"
          required
        />

        <input
          type="password"
          name="password"
          placeholder="Contraseña"
          required
        />

        <select name="role" required>
          <option value="user">Usuario</option>
          <option value="admin">Administrador</option>
        </select>

        <button type="submit">Entrar</button>
      </form>
    </div>
  </body>
</html>
